<div xmlns="http://www.w3.org/1999/html">
  <mat-card class="project-card">
    <mat-card-title class="flex-container">
      <span class="flex-left">{{ project?.project_name }} </span>
      <span class="flex-right">
        <app-tag-display *ngIf="tag" [Tag]="tag" class="flex-right"></app-tag-display>
      </span>
    </mat-card-title>
    <mat-card-content class="description"> {{ project?.project_desc }}</mat-card-content>
    <app-task-list
      [project]="project"
    ></app-task-list>
    <mat-card-footer>
      <div class="addTask addNewTaskButton" id="add-task-button">
        <button #addButton (click)="RevealForm()">
        <span class="flex-centered">
          <mat-icon>add_box</mat-icon> Add Task
        </span>
        </button>
        <button (click)="ArchiveProject()" *ngIf="tasks.length >= 1"><span class="flex-centered"><mat-icon>archive</mat-icon>Archive</span>
        </button>
        <button (click)="DeleteProject()" *ngIf="tasks.length === 0" class="delete-Button"><span class="flex-centered">  <mat-icon>delete</mat-icon>Delete</span>
        </button>
      </div>
      <div #addForm class="hidden" id="add-task-form">
        <div class="task-Entry">
        <span class="name">
          <label class="full-width">Name</label>
          <input #taskName class="full-width" id="name" type="text"/>
        </span>
          <span class="desc">
          <label class="full-width">Description</label>
          <input #taskDesc class="full-width" id="desc" type="text"/>
        </span>
        </div>
        <div class="addTask">
          <button (click)="addNewTask()" class="button full-width" type="button">
            Add
          </button>
          <button (click)="HideForm()" class="button full-width" type="button">
            Cancel
          </button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
