<mat-card  class="blackCard">
  <div class='row'>
    <span class='name-header'>Name</span>
    <span class='header-desc'>Description</span>
    <span class='header'>Complexity</span>
    <span class='header'>Percentage Complete</span>
    <span class='header'></span>
  </div>
</mat-card>

<app-sub-task-row *ngFor="let subtask of subtasks; let i = index" [index]="i" [subtask]="subtask" [task]="task"
                  (delete)="delete($event)" (workLogged)="handleWorkLogged()"></app-sub-task-row>

<hr/>
