<mat-card>
  <mat-card-title (click)="toggle()">
    <div class="flex-container">
      <span class="flex-left">{{ task?.task_name }}</span>
      <span class="flex-right">{{ task?.percentage_complete }}%</span>
    </div>
    <app-progress-bar
    [percentage]="task.percentage_complete"
  ></app-progress-bar>
  </mat-card-title>
  <div [classList]="hidden">
    <mat-card-content>{{ task?.task_desc }}</mat-card-content>
    <br />
    <app-subtask-table
      [subtasks]="filterSubTasks()"
      [task]="task"
      [delete]="delete"
    ></app-subtask-table>
    <div #subtaskButton>
      <button type="button" class="button full-width" (click)="RevealForm()">
        New Sub-Task
      </button>
    </div>
    <div class="hidden" #subtaskForm>
      <div class="task-Entry">
        <span class="name">
          <label class="full-width">Name</label>
          <input class="full-width" type="text" id="name" #name />
        </span>
        <span class="desc">
          <label class="full-width">Description</label>
          <input class="full-width" type="text" id="desc" #desc />
        </span>
        <span class="button-container">
          <button
            type="button"
            class="button full-width"
            (click)="addSubTask()"
          >
            Add
          </button>
        </span>
        <span class="button-container">
          <button type="button" class="button full-width" (click)="HideForm()">
            Cancel
          </button>
        </span>
      </div>
    </div>
  </div>
</mat-card>
