<mat-card>
  <mat-card-title (click)="RevealDetails()">
    <div class="flex-container">
      <span class="flex-left">{{ task?.task_name }}</span>
      <span class="flex-right">{{ task?.percentage_complete }}%</span>
    </div>
    <app-progress-bar
      [percentage]="task.percentage_complete"
    ></app-progress-bar>
  </mat-card-title>
  <div *ngIf="detailsRevealed">
    <mat-card-content>{{ task?.task_desc }}</mat-card-content>
    <br />
    <app-subtask-table
      [subtasks]="filterSubTasks()"
      [task]="task"
      [delete]="delete"
    ></app-subtask-table>
    <div #subtaskButton>
      <button
        type="button"
        class="button full-width"
        (click)="RevealModal(true)"
      >
        New Sub-Task
      </button>
    </div>
    <app-new-subtask-modal
      *ngIf="addSubtask"
      [task]="task"
      [subtasks]="subtasks"
      (close)="RevealModal(false)"
    ></app-new-subtask-modal>
  </div>
</mat-card>
