<mat-card class= "tagEditor">
  <div class="flex-container">
    <span class="flex-item">
      <input #tagName value="{{tag.tag_name}}">
    </span>
    <span class="select-input">
      <select #tagColour id="colour" name="colour" [value]="tag.tag_colour">
        <option value="black">Black</option>
        <option value="white">White</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="purple">Purple</option>
      </select>
    </span>
    <span class="flex-item">
      {{numberOfProjects}}
    </span>
    <span class="flex-item">
      <button (click)="updateTag(tag)">Update</button>
    </span>
    <span class="flex-item">
      <button (click)="deleteTag(tag)">Delete</button>
    </span>
  </div>
</mat-card>
