.navbar {
  height: 70px;
  color: black;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar-brand {
  font-size: 40px;
  margin: 10px;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar-nav li {
  margin: 10px;
  padding: 5px;
  list-style: none;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar-nav li a:hover {
  color: yellow;
}

.navbar-nav li a:active {
  color: red;
}



.container-fluid {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-header {
  display: flex;
  align-items: center;
}

a {
  font-style: bold;
  color: white;
  text-decoration: none;
}

.outer-container {
  background-color: lightgray;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-content: center;
  margin-top: 70px;
}

.inner-container {
  width: 95%;
  max-width: 1080px;
}

.root {
  height: 100%;
  background-color: lightgray;
}
