<div>
  <mat-card class="nav-card">
    <div class="button-row">
      <button class="button-project" (click)="ShowAddNewModal(true)">
        <span class="flex-centered"
        ><mat-icon>library_add</mat-icon> New Project
        </span>
      </button>
      <button class="button-tag" (click)="RevealNewTagModal()">
        <span class="flex-centered">
          <mat-icon>fiber_new</mat-icon>
          New Tag
        </span>
      </button>
    </div>
    <mat-form-field class="aligned-end">
      <mat-label>Filter By Tag</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="setTagFilter()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let tag of tags" [value]="tag">{{tag.tag_name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</div>
<app-add-tag-modal *ngIf="AddNewTag" (close)="RevealNewTagModal()"></app-add-tag-modal>
<app-new-project-modal
  [Projects]="projects"
  *ngIf="AddNewProject"
  (close)="ShowAddNewModal(false)"
></app-new-project-modal>
<div *ngFor="let project of projects">
  <app-project *ngIf="  selected === undefined || project.tag_id === selected.id "
               [project]="project" (delete)="handleDelete($event)"
  ></app-project>
</div>
