mat-card {
  min-width: 400px;
  margin: 20px;
}

button {
  text-align: center;
  font-size: initial;
  background-color: rgb(46, 214, 46);
  color: white;
  border-color: rgb(46, 214, 46);
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  color: rgb(46, 214, 46);
  background-color: transparent;
  border-color: rgb(46, 214, 46);
}

mat-icon {
  margin: 2px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
