mat-card {
  min-width: 400px;
  margin: 20px;
}

button {
  text-align: center;
  font-size: initial;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

button:active {
  transform: translateY(4px);
}

mat-icon {
  margin: 2px;
}

.nav-card{
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.button-project {
  background-color: rgb(37, 131, 37);
  color: white;
  border-color: rgb(37, 131, 37);
}

.button-project:hover {
  color: rgb(37, 131, 37);
  background-color: transparent;
  border-color: rgb(37, 131, 37);
}

.button-tag {
  background-color: rgb(30, 153, 173);
  color: white;
  border-color: rgb(30, 153, 173);
}

.button-tag:hover {
  color: rgb(30, 153, 173);
  background-color: transparent;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.flex-centered {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.aligned-end {
  display: flex;
  flex: 0.1;
  justify-content: flex-end;
}
