.outer-container {
  background-color: lightgray;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-content: center;
  margin-top: 70px;
}

.inner-container {
  max-width: 95%;
}

.root {
  height: 100%;
  background-color: lightgray;
}
