<mat-card>
  <mat-card-title class="max-width">
    <div class="flex-container">
      <span class="flex-left">{{GetHeader()}}</span>
      <span class="flex-right">{{ReadableDateAndTime(workLog.date)}}</span>
    </div>
  </mat-card-title>
  <div class="flex-container">
    <span class="flex-left"><h3>Worked on {{subtask?.subtask_name}} for {{MinutesToHours(workLog.time_spent)}}.</h3></span>
    <span class="flex-right"><h3>Completed {{workLog.percentage_done}}%</h3></span>
  </div>


</mat-card>
