<div class="backdrop"></div>

<mat-card class="alert-box">
  <mat-card-title>New Sub Task</mat-card-title>
  <hr />
  <mat-card-content class="flex-container">
    <div class="entry-fields">
      <span class="name">
        <label class="full-width">Name</label>
        <input class="full-width" type="text" id="name" #name />
      </span>
      <span class='complexity-select'>
        <label for="complexity" class="full-width">Complexity:</label>

        <select name="complexity" class="full-width" id="complexity" #complexity>
          <option value="1">Trivial</option>
          <option value="2">Standard</option>
          <option value="5">Complex</option>
          <option value="8">Highly Complex</option>
        </select>
      </span>
      <div class="desc">
        <label class="full-width">Description</label>
        <textarea  class="full-width" type="text" id="desc" #desc ></textarea>
      </div>


    </div>
    <div class="alert-box-actions">
      <button class="btn btn-primary"  (click)="addSubTask()">Add</button>
      <button class="btn btn-danger" (click)="handleClose()">Close</button>
    </div>
  </mat-card-content>
</mat-card>
