.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}


.close-button {
  background-color: red;
  border-color: red;
  max-width: 40px;
}

.alert-box {
  min-width: 200px;
  max-width: 800px;
  padding: 16px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.alert-box-actions {
  text-align: right;
}

.name,
.desc,
.tag {
  width: 100%;
  margin-right: 15px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.full-width {
  width: 100%;
}

.entry-fields {
  display: flex;
  width: 100%;
}

textarea {
  height: 200px;
  width: 400px;
}

button {
  text-align: center;
  font-size: initial;
  border-radius: 5px;
  padding: 2.5px;
  width: 100px;
  margin-left: 10px;
  color: white;
}


button:active {
  transform: translateY(4px);
}

mat-icon {
  margin: 2px;
}

hr {
  color: blue;
}

.alert-box-actions {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-small
{
  flex: 0.2;
}

.flex-right {
  align-content: flex-end;
}

.flex-left {
  align-content: flex-start;
}
